@use "../utils/" as utils;
@use "../globals/" as globals;

// navbar components
// .navBar {
//   @include utils.flexDisplay(row, space-between, center);
//   margin-inline: utils.rem(80);
//   margin-top: utils.rem(30);

//   @include utils.media-lg {
//     width: 100%;
//     padding-inline: utils.rem(20);
//   }
//   @include utils.media-sm {
//     width: 100%;
//     @include utils.flexDisplay(row, space-between, center);
//     padding-left: utils.rem(70);
//   }
//   &__logo-hamburger {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//   }
// }

.header__logo {
  @include utils.flexDisplay;
  width: utils.rem(114);
  height: utils.rem(30);
  border-radius: utils.rem(5);
  gap: utils.rem(6);
  &:hover {
    cursor: pointer;
  }

  .upperNav__logo-text {
    @include utils.font-Metropolis(600, 30);
    @media screen and (max-width: 1115px) {
      font-size: utils.rem(20);
    }
  }
}

.banner-image {
  width: utils.rem(668);
  @include utils.media-xl {
    width: 45%;
  }
  @mixin media-sm {
    margin-top: utils.rem(70);
  }
  @include utils.media-md {
    width: 95%;
    height: utils.rem(400);
    object-fit: contain;
    margin-top: utils.rem(70);
  }
}

// .menu__list {
//   @include utils.flexDisplay(row, space-between, center);
//   min-width: utils.rem(713);

//   @include utils.media-lg {
//     @include utils.flexDisplay(column, center, start);
//     gap: utils.rem(40);
//     margin-top: utils.rem(80);
//   }
//   @include utils.media-sm {
//     @include utils.flexDisplay(column, center, start);
//     gap: utils.rem(40);
//     margin-top: utils.rem(80);
//   }

//   &-item {
//     @include utils.font-Metropolis(500, 16, 16);
//     color: globals.$text-color;
//     display: flex;
//     align-items: center;
//     gap: utils.rem(2);
//     &:hover {
//       cursor: pointer;
//     }
//   }
//   &-link {
//     &:visited {
//       color: globals.$button-color-primary;
//     }
//   }
// }

.account,
.cart {
  z-index: 5;
  display: flex;
  align-items: center;
  gap: utils.rem(10);
  &:hover {
    cursor: pointer;
  }
  &-title {
    @include utils.font-Metropolis(500, 16, 16);
    text-align: right;
    color: globals.$text-color;
  }
  @include utils.media-lg {
    @include utils.flexDisplay(flex, start, center);
  }
}

// .cart-account {
//   @include utils.flexDisplay;
//   gap: utils.rem(30);
// }

// text component
.text__container {
  // width: utils.rem(607);
  max-width: 100%;
  margin-top: utils.rem(57);
  position: relative;

  @include utils.media-sm {
    max-width: 100vw;
    margin-top: 0;
    padding: 0 utils.rem(10);
  }
  @include utils.media-md {
    padding: 0 utils.rem(20);
    text-wrap: wrap;
  }

  .text-1 {
    @include utils.flexDisplay;
    width: utils.rem(239);
    height: utils.rem(50);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 102, 82, 1);
    @include utils.font-Metropolis(500, 20);
    border-radius: utils.rem(10);
  }

  .text-heading {
    @include utils.font-Metropolis(700, 65, 75);
    margin-top: utils.rem(15);

    @media (max-width: 1125px) {
      font-size: utils.rem(45);
      line-height: utils.rem(52);
    }

    @include utils.media-md {
      @include utils.font-Metropolis(700, 35, 55);
      text-wrap: wrap;
      margin-top: utils.rem(20);
      text-align: center;
    }

    @include utils.media-sm {
      font-size: utils.rem(30);
      line-height: utils.rem(42);
    }
  }

  .text-description {
    @include utils.font-Metropolis(400, 16, 30);
    color: rgba(93, 90, 111, 1);
    margin-top: utils.rem(30);

    @include utils.media-sm {
      text-align: center;
    }
  }
}

.search-container {
  @include utils.flexDisplay(row, space-between, center);
  // height: utils.rem(60);
  border-radius: utils.rem(10);
  background-color: rgba(255, 255, 255, 1);
  margin-top: utils.rem(40);
  padding: utils.rem(5);
  @include utils.media-md {
    max-width: 100vw;
    @include utils.flexDisplay(column, space-around, center);
    gap: utils.rem(40);
  }
  @include utils.media-sm {
    padding: utils.rem(20) 0;
  }

  .search__menu {
    @include utils.flexDisplay;
    // max-width: utils.rem(128);
    margin-left: utils.rem(20);
    margin-top: utils.rem(0);
    :hover {
      cursor: pointer;
    }
    &-text {
      @include utils.font-Metropolis(500, 16, 16);
      color: rgba(93, 90, 111, 0.6);
    }
    &-icon {
      height: utils.rem(24);
      width: utils.rem(24);
    }
  }

  .search__line {
    width: utils.rem(1);
    height: utils.rem(30);
    background-color: rgba(218, 218, 218, 1);
  }

  .search__input {
    // max-width: utils.rem(270);
    max-width: 100vw;
    @include utils.flexDisplay(row, space-around, center);
    gap: utils.rem(10);
    margin-top: utils.rem(0);
    outline: none;
    border: none;
    &::placeholder {
      color: rgba(93, 90, 111, 0.6);
      @include utils.font-Metropolis(500, 16, 16);
    }
  }
}

// image section

.image__section {
  max-width: 100%;
  width: utils.rem(668);
  height: utils.rem(699);
  position: relative;
  @include utils.media-lg {
    margin-left: utils.rem(-80);
  }
  @include utils.media-sm {
    max-width: 100%;
    transform: scale(0.5);
    @include utils.flexDisplay;
    margin-top: utils.rem(-100);
    left: utils.rem(-35);
  }
  &-gradient {
    position: relative;
    max-width: 100%;
    height: utils.rem(669);
    width: utils.rem(518);
    margin-left: utils.rem(113);
    background-image: linear-gradient(
      to top,
      rgba(255, 102, 82, 1),
      rgba(255, 102, 82, 0)
    );
    margin-top: utils.rem(28);
    clip-path: polygon(utils.$curvedPolygonClipPath);
    z-index: 1;
    @include utils.media-sm {
      margin-left: utils.rem(-100);
      left: utils.rem(180);
    }
  }
  &-image {
    margin-left: utils.rem(50);
    position: absolute;
    top: utils.rem(0);
    left: utils.rem(110);
    height: utils.rem(669);
    width: utils.rem(418);
    z-index: 5;
  }
  &-vector {
    height: utils.rem(563.5);
    width: utils.rem(592);
    position: absolute;
    top: utils.rem(40);
    left: utils.rem(39);
    color: rgba(236, 236, 236, 1);
    z-index: 0;
  }
  &-icon {
    height: utils.rem(80);
    width: utils.rem(80);
    border-radius: utils.rem(10);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    &.icon-1 {
      position: absolute;
      top: utils.rem(561.5);
      left: utils.rem(590);
    }
    &.icon-2 {
      position: absolute;
      top: utils.rem(0);
      left: utils.rem(0);
    }
    &.icon-3 {
      position: absolute;
      top: utils.rem(50);
      left: utils.rem(500);
    }
    &.icon-4 {
      position: absolute;
      top: utils.rem(320);
      left: utils.rem(70);
    }
  }
}

.drawer {
  &_menu {
    @include utils.flexDisplay(column, center, start);
    gap: utils.rem(40);
    &-cartAccount {
      @include utils.flexDisplay(column, center, start);
      gap: utils.rem(40);
      padding-left: utils.rem(40);
    }
  }
  &-cross {
    @include utils.font-Metropolis(500, 30, 30);
    color: black;
    position: absolute;
    right: utils.rem(20);
    top: utils.rem(15);
    &:hover {
      cursor: pointer;
    }
  }
}
