@use "../utils/" as utils;
@use "../globals/" as globals;

.text__section {
  max-width: 100%;
  padding: utils.rem(20) 0;
  // width: utils.rem(500);
  @include utils.flexDisplay(column, start, start);
  margin-left: utils.rem(70);
  @include utils.media-sm {
    padding: utils.rem(10);
    margin: 0;
    @include utils.flexDisplay(column, start, start);
  }

  &-title {
    @include utils.flexDisplay;
    height: utils.rem(50);
    width: utils.rem(170);
    background-color: rgba(228, 226, 244, 1);
    border-radius: utils.rem(10);
    color: rgba(156, 77, 244, 1);
    @include utils.font-Metropolis(500, 20, 20);
    @include utils.media-sm {
      padding: utils.rem(10);
      text-align: center;
    }
  }
  &-heading {
    @include utils.font-Metropolis(700, 45, 55);
    color: globals.$text-color;
    margin-top: utils.rem(15);
    @include utils.media-sm {
      text-align: center;
    }
    @include utils.media-md {
      @include utils.font-Metropolis(700, 35, 45);
      text-wrap: wrap;
      text-align: center;
    }
    @include utils.media-xsm {
      font-size: utils.rem(28);
      line-height: utils.rem(38);
    }
  }
  &-description {
    @include utils.font-Metropolis(400, 16, 30);
    color: globals.$text-color-light;
    margin-top: utils.rem(20);
    @include utils.media-sm {
      padding: utils.rem(10) 0;
      text-align: center;
    }
  }
  &-buttonWrapper {
    margin-top: utils.rem(40);

    @include utils.media-sm {
    }
  }
}

.imageSection {
  position: relative;
  margin-top: utils.rem(80);
  height: utils.rem(587);
  width: utils.rem(689);
  z-index: 1;

  @include utils.media-lg {
    width: 100%;
  }

  @include utils.media-xsm {
    height: utils.rem(400);
  }

  &-personImage {
    transform: rotateY(-180deg);
    object-fit: cover;
    object-position: 130%;

    @include utils.media-lg {
      width: 100%;
    }
    @include utils.media-xsm {
      height: 100%;
    }
  }

  &-ellipse {
    position: absolute;
    right: utils.rem(0);
    bottom: utils.rem(0);
    border-radius: 50%;
    @include utils.media-sm {
      right: utils.rem(-400);
      transform: scale(0.75);
    }
  }
  &-pattern {
    position: absolute;
    top: utils.rem(-26);
    left: utils.rem(200);
    z-index: -5;
  }

  &-icon {
    height: utils.rem(50);
    width: utils.rem(50);
    @include utils.flexDisplay;
    background-color: globals.$background-color-white;
    border-radius: utils.rem(5);
    box-shadow: 0px 25px 70px 0px rgba(10, 3, 60, 0.15);
  }
  .html {
    position: absolute;
    left: utils.rem(100);
    top: utils.rem(86);
  }
  .java {
    position: absolute;
    right: utils.rem(80);
    top: utils.rem(-25);
  }
  .php {
    position: absolute;
    right: utils.rem(130);
    top: utils.rem(100);
  }
}

.joinCoursesSection {
  // width: utils.rem(1280);
  max-width: 100%;
  overflow: hidden;
  @include utils.flexDisplay(row, space-between, center);
  background-color: rgba(237, 233, 242, 1);
  border-radius: utils.rem(20);
  z-index: 5;

  @include utils.media-lg {
    @include utils.flexDisplay(column, center, center);
    gap: utils.rem(60);
    // padding-top: utils.rem(60);
    margin-top: utils.rem(-40);
  }
  @include utils.media-sm {
    width: 100vw;
    @include utils.flexDisplay(column, center, center);
    margin: 0px;
    padding-top: utils.rem(10);
  }
}
