@use "../utils/" as utils;
@use "../globals/" as globals;

.joinAsTeacherImage__container {
  height: utils.rem(521);
  width: utils.rem(510);
  position: relative;
  overflow: hidden;
  &-bg {
    height: utils.rem(510);
    width: utils.rem(510);
    position: absolute;
    bottom: 0;
  }
  &-image {
    height: utils.rem(533);
    width: utils.rem(403);
    position: absolute;
    object-fit: cover;
    top: 0;
    left: utils.rem(88);
    overflow: hidden;
    border-radius: 32%;
  }
}

.joinAsTeacherText__container {
  @include utils.flexDisplay(column, start, start);
  height: utils.rem(375);
  width: utils.rem(500);
  border-radius: utils.rem(10);
  gap: utils.rem(20);
  &-h1 {
    @include utils.font-Metropolis(700, 45, 55);
    color: globals.$text-color;
  }
  &-p {
    @include utils.font-Metropolis(400, 16, 30);
    color: globals.$text-color-light;
    margin-bottom: utils.rem(20);
  }
}

.joinAsTeacher__section {
  @include utils.flexDisplay;
  gap: utils.rem(80);

  @include utils.media-lg {
    @include utils.flexDisplay(column, center, center);
    gap: utils.rem(80);
  }
  @include utils.media-lg {
    width: 100vw;
    @include utils.flexDisplay(column, center, center);
    gap: utils.rem(80);
  }
}
