@use "../utils/" as utils;
@use "../globals/" as globals;

.lessons__section {
  @include utils.flexDisplay(column, center, center);
  gap: utils.rem(50);
  @include utils.media-sm {
    @include utils.flexDisplay(column, center, center);
    width: 100vw;
    gap: utils.rem(120);
    margin-top: utils.rem(-80);
  }
  &-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: utils.rem(40);

    @include utils.media-xl {
      grid-template-columns: repeat(3, 1fr);
    }

    @include utils.media-lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: utils.rem(30);
      padding: utils.rem(20);
    }
    @include utils.media-md {
      padding: utils.rem(16);
    }
    @include utils.media-sm {
      width: 100vw;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      gap: utils.rem(40);
    }
  }
}
.title__section {
  height: utils.rem(135);
  width: utils.rem(700);
  @include utils.media-sm {
    width: 100vw;
    padding: utils.rem(15);
  }
  &-h1 {
    @include utils.font-Metropolis(700, 45, 55);
    text-align: center;
    color: globals.$text-color;
  }
  &-p {
    @include utils.font-Metropolis(400, 16, 30);
    text-align: center;
    color: globals.$text-color-light;
    margin-top: utils.rem(20);
  }
}

.hobberd {
  &__list {
    @include utils.flexDisplay;
    flex-wrap: wrap;
    gap: utils.rem(50);
    @include utils.media-sm {
      width: 100vw;
      margin-top: utils.rem(80);
      @include utils.flexDisplay(row, center, start);
      padding: 0;
    }
    &-item {
      color: globals.$text-color;
      @include utils.font-Inter(500, 16, 20);
    }
  }
}

.lessoncard {
  background-color: globals.$background-color-white;
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.05);
  border-radius: utils.rem(15);
  padding: utils.rem(30) utils.rem(15);
  @include utils.flexDisplay(column, center, center);
  border: utils.rem(1) solid globals.$button-color-primary;
  &.active {
    border: none;
  }
  &-icon {
  }

  &-h3 {
    @include utils.font-Metropolis(600, 25, 25);
    text-align: center;
    color: globals.$text-color;
    margin-top: utils.rem(20);
  }

  &-p {
    @include utils.font-Metropolis(400, 16, 30);
    text-align: center;
    color: globals.$text-color-light;
    margin-top: utils.rem(15);
    text-overflow: ellipsis;
  }
  &-button {
    @include utils.font-Inter(500, 16, 20);
    text-align: center;
    padding: utils.rem(12) utils.rem(32);
    border-radius: utils.rem(5);
    border: utils.rem(1) solid globals.$button-color-primary;
    color: globals.$button-color-primary;
    background-color: globals.$background-color-white;
    margin-top: utils.rem(25);
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: globals.$text-color-white;
      background-color: globals.$button-color-primary;
    }
  }
}
