@use "./function" as function;

@mixin font($font-weight, $font-size, $line-height: $font-size) {
  font-family: "Metropolis Regular";
  font-weight: $font-weight;
  font-size: function.rem($font-size);
  line-height: function.rem($line-height);
}
