@use "./function" as function;

@mixin font($font-weight, $font-size, $line-height: $font-size) {
  font-family: "Metropolis Regular";
  font-weight: $font-weight;
  font-size: function.rem($font-size);
  line-height: function.rem($line-height);
}

@mixin flexDisplay(
  $flex-direction: row,
  $justify-content: center,
  $align-item: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-item;
}
