@use "../utils/" as utils;

.landingPage {
  margin-inline: utils.rem(80);
  @include utils.flexDisplay(column, center, center);
  @include utils.media-lg {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  @include utils.media-sm {
    max-width: 100%;
  }
}
.header {
  @include utils.flexDisplay(column, stretch, stretch);
  width: 100%;
  gap: utils.rem(30);
  // position: relative;
  &-section {
    margin-top: utils.rem(104);
    @include utils.flexDisplay(row, space-between, center);
    @include utils.media-lg {
      @include utils.flexDisplay(column, center, center);
      gap: utils.rem(80);
    }
    @include utils.media-sm {
      max-width: 100vw;
      margin-top: utils.rem(0);
    }
  }
}
.landingPage-box1 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(-30);
  right: utils.rem(0);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
  @include utils.media-sm {
    display: none;
  }
}
.landingPage-box2 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(520);
  left: utils.rem(0);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
  @include utils.media-sm {
    display: none;
  }
}
.landingPage-box3 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(520);
  left: utils.rem(260);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
  @include utils.media-sm {
    display: none;
  }
}

.main {
  @include utils.flexDisplay(column, center, center);
  gap: utils.rem(150);
  margin-top: utils.rem(150);
  .section-classes {
    max-width: 100%;
    &-title {
      @include utils.flexDisplay(column, center, center);
      @include utils.media-sm {
        max-width: 100vw;
        padding: utils.rem(10);
      }
    }
    position: relative;
    @include utils.flexDisplay(column, center, center);
    gap: utils.rem(40);
    @include utils.media-sm {
      max-width: 100vw;
    }
  }
}

.section-footer {
  @include utils.flexDisplay;
  margin-top: utils.rem(150);
  margin-bottom: utils.rem(60);
}
