@use "../utils/" as utils;

.landingPage {
  margin-inline: utils.rem(80);
}
.header {
  position: relative;
  &-section {
    margin-top: utils.rem(104);
    @include utils.flexDisplay(row, space-between, center);
    margin-inline: utils.rem(80);
  }
}
.landingPage-box1 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(-30);
  right: utils.rem(0);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
}
.landingPage-box2 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(520);
  left: utils.rem(0);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
}
.landingPage-box3 {
  z-index: -10;
  height: utils.rem(436);
  width: utils.rem(436);
  position: absolute;
  top: utils.rem(520);
  left: utils.rem(260);
  .landingPage-ellipse {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 102, 82, 0.15);
    opacity: 0.15;
  }
}

.main {
  @include utils.flexDisplay(column, center, center);
  gap: utils.rem(150);
  margin-top: utils.rem(150);
  .section-classes {
    &-title {
      @include utils.flexDisplay(column, center, center);
    }
    position: relative;
    @include utils.flexDisplay(column, center, center);
    gap: utils.rem(40);
  }
}

.section-footer {
  @include utils.flexDisplay;
  margin-top: utils.rem(150);
  margin-bottom: utils.rem(60);
}
