$background-color: rgba(247, 245, 250, 1);
$text-color: rgba(10, 3, 60, 1);
$background-color-white: rgba(255, 255, 255, 1);
$text-color-white: rgba(255, 255, 255, 1);
$text-color-light: rgba(93, 90, 111, 1);
$button-color-primary: rgba(156, 77, 244, 1);
$button-color-secondary: rgba(255, 102, 82, 1);
$star-color: rgba(255, 193, 7, 1);
$button-color-primary-inactive: rgba(242, 229, 255, 1);
