@use "./colors" as colors;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: colors.$background-color;
  color: colors.$text-color;
}

ul,
li {
  list-style: none;
}

a {
  all: unset;
  text-decoration: none;
}

/* Avoid text overflows*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
