@use "../utils/" as utils;

h1 {
  @media (max-width: 1125px) {
    font-size: utils.rem(45);
    line-height: utils.rem(52);
  }

  @include utils.media-md {
    @include utils.font-Metropolis(700, 35, 55);
    text-wrap: wrap;
    margin-top: utils.rem(20);
    text-align: center;
  }

  @include utils.media-sm {
    font-size: utils.rem(30);
    line-height: utils.rem(42);
  }
}
