@use "./colors" as colors;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: colors.$background-color;
  color: colors.$text-color;
}

ul {
  list-style: none;
}
