@use "../utils/" as utils;
@use "../globals/" as globals;

.button__btn {
  border-radius: utils.rem(10);
  padding: utils.rem(20) utils.rem(30);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.rem(5);
  outline: none;
  border: none;
  &.active {
    color: globals.$text-color-white;
    background-color: globals.$button-color-secondary;
    box-shadow: 0px 15px 50px 0px rgba(255, 102, 82, 0.2);
  }
  &:hover {
    cursor: pointer;
  }

  &-text {
    @include utils.font-Inter(500, 16, 20);
  }
}
.btn-primary {
  background-color: globals.$button-color-primary;
  &.inactive {
    background-color: globals.$button-color-primary-inactive;
    color: globals.$button-color-primary;
  }
}
.btn-secondary {
  color: globals.$text-color;
  &.background-white {
    border-radius: utils.rem(10);
    background-color: globals.$background-color-white;
  }
}
