@use "../utils/" as utils;

.button__btn {
  border-radius: utils.rem(10);
  padding: auto;
  background-color: rgba(156, 77, 244, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.rem(5);
  outline: none;
  border: none;
  &:hover {
    cursor: pointer;
  }

  &-text {
    font-family: utils.$font-Inter;
    font-weight: 500;
    font-size: utils.rem(16);
    line-height: utils.rem(20);
  }
}
