@use "../globals/" as globals;
@use "../utils/" as utils;

.footer__section {
  // display: grid;
  // grid-template-columns: repeat(5, auto);
  @include utils.flexDisplay(row, space-between, start);
  align-items: start;
  flex-wrap: wrap;
  width: utils.rem(1278);
}
.footer__left {
  height: utils.rem(217);
  width: utils.rem(170);
  padding: 0;
  &-logo {
    @include utils.flexDisplay(row, space-between, center);
    height: utils.rem(30);
    width: utils.rem(114);
  }
  &-logo_text {
    @include utils.font-Metropolis(600, 30, 30);
  }
  &-socialIcons {
    @include utils.flexDisplay(row, space-between, center);
    margin-top: utils.rem(25);
    height: utils.rem(36);
    width: utils.rem(147);
  }
  &-copy_right {
    @include utils.font-Inter(400, 16, 16);
    color: globals.$text-color-light;
    margin-top: utils.rem(40);
  }
  &-trademark {
    width: utils.rem(170);
    @include utils.font-Metropolis(400, 16, 26);
    color: globals.$text-color-light;
    margin-top: utils.rem(15);
  }
}

.footer__items {
  &-header {
    @include utils.font-Inter(600, 22, 26.63);
    margin-bottom: utils.rem(20);
    margin: 0;
    margin-bottom: utils.rem(20);
  }
}
.footer__item {
  @include utils.font-Metropolis(400, 16, 16);
  color: globals.$text-color-light;
  margin-bottom: utils.rem(20);
  &:hover {
    cursor: pointer;
  }
}
