@use "../utils/" as utils;

// navbar components
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: utils.rem(80);
  margin-top: utils.rem(30);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: utils.rem(114);
  height: utils.rem(30);
  border-radius: utils.rem(5);
  gap: utils.rem(6);

  .upperNav__logo-text {
    @include utils.font(600, 30);
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: utils.rem(713);
  &-item {
    display: flex;
    align-items: center;
    gap: utils.rem(2);
    &:hover {
      cursor: pointer;
    }
  }
}

.account,
.cart {
  display: flex;
  align-items: center;
  gap: utils.rem(10);
  &:hover {
    cursor: pointer;
  }
}

.cart-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: utils.rem(30);
}

// text component
.text__container {
  width: utils.rem(607);
  height: utils.rem(510);
  margin-top: utils.rem(131);
  position: relative;
  .text-1 {
    display: flex;
    width: utils.rem(239);
    height: utils.rem(50);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 102, 82, 1);
    @include utils.font(500, 20);
    justify-content: center;
    align-items: center;
    border-radius: utils.rem(10);
  }

  .text-heading {
    @include utils.font(700, 65, 75);
  }

  .text-description {
    @include utils.font(400, 16, 30);
    color: rgba(93, 90, 111, 1);
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: utils.rem(607);
  height: utils.rem(60);
  border-radius: utils.rem(10);
  background-color: rgba(255, 255, 255, 1);
  margin-top: utils.rem(40);

  .search__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: utils.rem(128);
    margin-left: utils.rem(20);
    :hover {
      cursor: pointer;
    }
    &-text {
      @include utils.font(500, 16, 16);
      color: rgba(93, 90, 111, 0.6);
    }
    &-icon {
      height: utils.rem(24);
      width: utils.rem(24);
    }
  }

  .search__line {
    width: utils.rem(1);
    height: utils.rem(30);
    background-color: rgba(218, 218, 218, 1);
  }

  .search__input {
    width: utils.rem(270);
    height: utils.rem(24);
    outline: none;
    border: none;
    &::placeholder {
      color: rgba(93, 90, 111, 0.6);
      @include utils.font(500, 16, 16);
    }
  }
}

// image section

.image__section {
  width: utils.rem(668);
  height: utils.rem(699);
  // border: utils.rem(2) solid rgba(236, 236, 236, 1);
  position: relative;

  &-gradient {
    position: relative;
    height: utils.rem(669);
    width: utils.rem(518);
    margin-left: utils.rem(113);
    background-image: linear-gradient(
      to top,
      rgba(255, 102, 82, 1),
      rgba(255, 102, 82, 0)
    );
    margin-top: utils.rem(28);
    clip-path: polygon(utils.$curvedPolygonClipPath);
  }
  &-image {
    margin-left: utils.rem(50);
    position: absolute;
    top: utils.rem(0);
    left: utils.rem(110);
  }
  &-vector {
    height: utils.rem(563.5);
    width: utils.rem(592);
    position: absolute;
    top: utils.rem(40);
    left: utils.rem(39);
    clip-path: polygon(
      0.168% 0.177%,
      12.374% 57.345%,
      84.848% 9.204%,
      99.832% 99.912%
    );
  }
  &-icon {
    height: utils.rem(80);
    width: utils.rem(80);
    border-radius: utils.rem(10);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    &.icon-1 {
      position: absolute;
      top: utils.rem(561.5);
      left: utils.rem(590);
    }
    &.icon-2 {
      position: absolute;
      top: utils.rem(0);
      left: utils.rem(0);
    }
    &.icon-3 {
      position: absolute;
      top: utils.rem(20);
      left: utils.rem(500);
    }
    &.icon-4 {
      position: absolute;
      top: utils.rem(350);
      left: utils.rem(70);
    }
  }
}
